html { 
   
	background: #959796 url(../images/maderas1.jpg);
	background-size: 60% 50%;
	background-position: center;
	width: 100%;
	height: 100%;
	border-bottom-right-radius: 0px;
	margin-top: 0px;
	padding-top: 116px;	
	background-color: #feed50;
}

#menuPrincipal {
	height: 33px;
	padding-left: 97px;
	background: #333333; /* Color de fondo */
	border-radius: 20px;
	padding-right: 15px;
	right: 0px;
	padding-top: 0px;
	margin-left: 100px;
	margin-right: 100px;
	margin-top: -120px;
}
.menu {
	width: 74%;
	font-family: "Lucida Sans Unicode", "Trebuchet Unicode MS", "Lucida Grande",sans-serif;
	font-size: 13px; /* Tamaño de la fuente */
	font-weight: bold;
	margin-right: 0px;

}
.menu ul {
	float:left;
	height:0px;
	list-style:none;
	margin:0;
	padding:0;

}
.menu li{
	float: left;
	margin-right: -22px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;

}
.menu li a{
	background: #333333 bottom right no-repeat;
	color: #cccccc; /* Color de la fuente */
	display: block;
	font-weight: normal;
	line-height: 29px; /* Espacio entre cada pestaña */
	text-align: center;
	text-decoration: none;
	margin-right: 40px;
	margin-left: 40px;

}
.menu li a:hover, .menu ul li:hover a {
	background: #2580a2; /* Color de las pestañas al pasar el cursor */
	color: #FFFFFF; /* Color del texto al pasar el cursor */
	text-decoration: none;
}
.menu li ul {
	
	background:#333333; /* Color de fondo del submenú */
	display:none;
	height:auto;
	padding:0px;
	margin:0px;
	position:absolute;
	width:200px; /* Ancho del submenú */
	z-index:100;
	border-top:1px solid #fff; /* Borde superior del submenú */
	border-radius: 0px 0px 20px 20px;
}
.menu li:hover ul{
	display:block;
}
.menu li li {
	display:block;
	float:none;
	margin:0px;
	padding:0px;
	width:200px;
}
.menu li:hover li a {
	background:none;

}
.menu li ul a {
	display:block;
	height:35px;
	font-size:12px;
	font-style:normal;
	margin:0px;
	padding:0px 10px 0px 15px;
	text-align:left;
}
.menu li ul a:hover, .menu li ul li:hover a{
	background:#2580a2; /* Color de las subpestañas al pasar el cursor */
	color:#ffffff;
	text-decoration:none;
}

#search {
	width: 229px;
	float: right;
	text-align: center;
	margin-top: 4px;
	/* Imagen de fondo del buscador */
	background: url(../images/search-bar.png) no-repeat;
	margin-right: -153px;
}
#search-box {
	border: 0px;
	background: transparent;
	text-align: center;
	height: 20px;
}


#imgMaquina01{
	position:absolute;
	right:100px;
	top: 115px;
	width:350px;
	padding:15px;	
}

#imgMaquina02{
	position:absolute;
	right:100px;
	top: 415px;
	width:350px;
	padding:15px;	
}

#imgMaquina03{
	position:absolute;
	right:100px;
	top: 715px;
	width:350px;
	padding:15px;	
}

#imgMaquina04{
	position:absolute;
	right:100px;
	top: 1015px;
	width:350px;
	padding:15px;	
}

#maquina01{
	position:absolute;
	left:150px;
	top: 100px;
	width:350px;
	padding:15px;
}

#maquina02{
	position:absolute;
	left:150px;
	top: 400px;
	width:350px;
	padding:15px;	
}

#maquina03{
	position:absolute;
	left:150px;
	top: 700px;
	width:350px;
	padding:15px;	
}

#maquina04{
	position:absolute;
	left:150px;
	top: 1000px;
	width:350px;
	padding:15px;	
}

p{
	font-size:21px;
	font-family: "tahoma";
	color: #fff;
	font-weight: bold;
}

h1{
	text-align: center;
	font-family: "comic sans ms";
	color:yellow;
	text-shadow: 4px 4px #333333;
}

footer{
	border-radius: 20px 20px 20px 20px;
	text-align: center; /* Puedes cambiarlo por center o right */
	background-color: #0032AB;
	color: #FFFFFF;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	font-size: 20px;
	font-weight: bold;
	margin-left: 100px;
	margin-top: 1170px;
	margin-right: 100px;
}
